@charset "UTF-8";

body{
    background-color: rgb(3, 3, 3);
    background-image: url("FUNDO.JPG");

    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

video{
    width: 300px;

    margin-top: 50px;

    filter: drop-shadow(0px 0px 20px #94949456);
}

img{
    min-width: 260px;
    max-width: 300px;

    display: block;
    
    padding-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;

    filter: drop-shadow(0px 0px 20px #000000);
}